@model IEnumerable<KidsAcademy.Models.ViewModels.Courses.CourseVM>

@{ 
    ViewBag.Title = "Kids Academy";
}

<h2>Welcome to the academy</h2>

@foreach (var vm in Model)
{
    <div class="course">
        <span class="course-prop">@Html.DisplayNameFor(courseVm => courseVm.Name)</span>
        @Html.DisplayFor(vms => vm.Name);
        <br />

        @Html.ActionLink("Details", "Details","Course", new { id = vm.Id}, new { @class= "btn btn-lg btn-primary"})
    </div>
}