@using CarDealer.Models.ViewModels.Sales
@model AddSaleVm

@{
    ViewBag.Title = "Add";
}

<h2>Add Sale</h2>

<form method="post">
    <div class="form-group">
        @Html.Label("Customer: ")
        @Html.DropDownListFor(vm => vm.Customers, new SelectList(Model.Customers, "Id", "Name"), new { id = "Customer", @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="car">Car: </label>
        @Html.DropDownListFor(vm => vm.Cars, new SelectList(Model.Cars, "Id", "MakeAndModel"), new { id = "Car", @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="discounts">Car: </label>
        <select id="discounts" class="form-control" name="discount">
            @foreach (var discount in Model.Discounts)
            {
                <option value="@discount">@discount%</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input class="form-control" type="submit" value="Submit" />
    </div>
</form>
